body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 220px;
    background: #fff3e6;
    padding: 3em;
    min-height: 100vh;
    color: inherit;
    text-decoration: none;
    display: block;

  }
  
  .logo {
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  .sidebar h4 {
    margin-top: 1em;
    color: #888;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar li {
    padding: 0.5em 0;
    cursor: pointer;
  }

  .sidebar li:hover {
    background: #ffe4c4;
    border-radius: 8px;
  }

  
  .sidebar .active {
    background: #ffddbb;
    padding: 0.5em;
    border-radius: 8px;
  }
  
  .content {
    flex: 1;
    padding: 1em;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .header input {
    width: 60%;
    padding: 0.5em;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: 2em;
  }
  
  .item-card {
    background: #fff;
    padding: 5em;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #eee;
    font-weight: bold;
  }
  
  .details {
    display: flex;
    gap: 2em;
  }
  
  .most-viewed {
    width: 40%;
  }
  
  .item-preview {
    width: 60%;
    background: #ffe1c6;
    padding: 1em;
    border-radius: 12px;
    display: auto;
    gap: 1em;
    margin-top: 15em;
  }
  
  .preview-box {
    width: 150px;
    height: 150px;
    background: #ffd4aa;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   .item-text{

    margin-left: 2em;
    background-color: #eee;
    margin-bottom: 12em;
 }


  .item-info {
    flex: 1;
   border-radius: 12px;
   background-color: #eee;
   margin-left: 10em;
   
  } 
  
  .item-info button {
    padding: 0.5em 1em;
    background: orange; 
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 22em;

  }
  